<form class="threads-form group">
	<header>
		<% recipient_id = thread.get("user_one") == FBClone.current_user.id ? thread.get("user_two") : thread.get("user_one") %>
		Chat with <%= FBClone.current_user.friends.get(recipient_id).get("first_name") %>
	</header>

	<input type="hidden" name="message_thread_id" value="<%= thread.id %>">
	<textarea name="message"  placeholder="Message..."></textarea>	
	<input type="submit" value="Send Message" class="submit new-message-submit">	
</form>

<br>
<br>

<ul class="threads-list group">

	<% thread.messages.each(function(message) { %>
		<li>

			<header>
				<% sender_id = message.get("sender_id") %>
	
				<% if (sender_id === FBClone.current_user.id) { %>
					<%= FBClone.current_user.get("first_name") %>
					<%= FBClone.current_user.get("last_name") %>
				<% } else { %>
					<%= FBClone.current_user.friends.get(sender_id).get("first_name")  %>
					<%= FBClone.current_user.friends.get(sender_id).get("last_name")  %>
				<% } %>
			</header>

			<div>
				<%= message.get("message") %>
			</div>

		</li>
	<% }) %>
</ul>
