<article class="chat-box" id="box-<%= thread.id %>">

	<% user = current_user.id == thread.first_user.id ? thread.second_user : thread.first_user %>

	<section class="chat-box-header group" id="header-<%= thread.id %>">
		<div class="chat-box-name">
			<%= user.full_name %>
		</div>
		<a class="close-chatbox" href="#">x</a>	
	</section>
	
	<ul>
		<% thread.messages.each do |message| %>
			<li><%= render partial: "messages/message", locals: { message: message } %></li>
		<% end %>
	</ul>


	<form action="<%= message_thread_messages_url(thread) %>" data-remote="true" 
		method="post" class="chat-message-form group">

		<input type="text" class="chat-message-text" name="message" placeholder="Type here...">
		<input type="submit" class="chat-message-submit submit" value=">">

	</form>

</article>


<script>

	$(document).ready(function(){

		$chatBox = $("#box-<%= thread.id %>")
		$chatBoxMessages = $("#box-<%= thread.id %> ul")
		$specificHeader = $("#header-<%= thread.id %>")

		$chatBox.on("ajax:success", "form", function(event, data){
			$(event.currentTarget).closest("article").children("ul").append(data)
			event.currentTarget.reset()
		});

		$specificHeader.on("click", function(event){
        	$(event.currentTarget).closest('article').toggleClass('minimized')
    	});

	});

</script>


