<section class="post">

  <form action="<%= user_posts_url(@user) %>" method="post" enctype="multipart/form-data">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

        <header class="post-header-create">
          <p>Post</p>
        </header>

        <textarea name="post[body]" ROWS=5 COLS=50 placeholder="Type Something..."></textarea>
  



        <!-- MOVE TO PARTIALS IN CORRECT VIEWS -->
       <!--  <h5>Tag your friends in this post</h5>
        <% current_user.friends.each do |friend| %>
          <%= friend.first_name %> <%= friend.last_name %>
          <input type="checkbox" name="post[tagged_user_ids][]" value="<%= friend.id %>">
          <br>
        <% end %>

        -->  
       

      <div class="post-footer">
        <input class="submit" type="submit" value="Post">             
        <input class="file-submit" type="file" multiple name="photos[]" value="Upload Photos"> 
      </div>

  </form>

</section>