<section class="create_post">

  <form action="<%= user_posts_url(@user) %>" method="post" enctype="multipart/form-data">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

      <h3>Post on <%= @user.firstName %> <%= @user.lastName %>'s wall</h3>
    
        <label for="textBody">Post</label>
        <br>
        <textarea name="post[body]" ROWS=3 COLS=30></textarea>
  
      <h5>Tag your friends in this post</h5>
  
       <!--  <input type="hidden" name="post_tags[user_ids][]" value=""> figure out later -->
    
        <% current_user.friends.each do |friend| %>
          <%= friend.firstName %> <%= friend.lastName %>
          <input type="checkbox" name="post[tagged_user_ids][]" value="<%= friend.id %>">
          <br>
        <% end %>

        Upload Photos: 
        <br>
        <br>
        <input type="file" multiple name="photos[]">
        <br>
      <input type="submit" value="Post">
  </form>

</section>