<section class="user-header group">
		
		<a href="<%= user_albums_url(@user)  %>">
			<div class="profile-picture">
				<% profile_photos = @user.get_profile_photos %>
				<% src = profile_photos.empty? ? Photo.default_photo_url : profile_photos.first.file.url %>
				<img src="<%= src %>">
			</div>
		</a>

		<div class="toggle-friend-button">
			<% if (current_user != @user) && (current_user.can_request_friendship?(@user)) %>
    			<%= button_to "Add Friend", user_friend_requests_url(@user), method: :post, :class => "add-friend" %>
  			<% end %>

  			<% if (current_user != @user) && (current_user.friends_with?(@user)) %>
  				<% friendship = current_user.get_friendship(@user) %>
  				<%= button_to "Unfriend", friendship_url(friendship), method: :delete, :class => "add-friend" %>
  			<% end %>

  		</div>
		

		<div class="profile-name">
			<p><%= @user.full_name %></p>
		</div>

		<a href="<%= user_albums_url(@user)  %>">
			<div class="cover-photo">
				<% cover_photos = @user.get_cover_photos %>
				<% src = cover_photos.empty? ? Photo.default_cover_photo_url : cover_photos.first.file.url %>
				<img src="<%= src %>">
			</div>
		</a>

		<div class="user-header-links">

			<ul>
          		<li><a href="<%= wall_user_url(@user) %>">Timeline</a></li>
          		<li><a href="#">About</a></li>
          		<li><a href="<%= user_albums_url(@user) %>">Photos</a></li>
          		<li><a href="<%=  friends_user_url(@user) %>">Friends</a></li>
          		<li><a href="#">More</a></li>
        	</ul>

		</div>

	</section>