<section class="user_wall">

	<section class="user-header group">
		
		<a href="<%= user_albums_url(@user)  %>">
			<div class="profile-picture">
				<% profile_photos = @user.get_profile_photos %>
				<% src = profile_photos.empty? ? Photo.default_photo_url : profile_photos.first.file.url %>
				<img src="<%= src %>">
			</div>
		</a>

		<div class="toggle-friend-button">
			<% if (current_user != @user) && (current_user.can_request_friendship?(@user)) %>
    			<%= button_to "Add Friend", user_friend_requests_url(@user), method: :post, :class => "add-friend" %>
  			<% end %>

  			<% if (current_user != @user) && (current_user.friends_with?(@user)) %>
  				<% friendship = current_user.get_friendship(@user) %>
  				<%= button_to "Unfriend", friendship_url(friendship), method: :delete, :class => "add-friend" %>
  			<% end %>

  		</div>
		

		<div class="profile-name">
			<p><%= @user.full_name %></p>
		</div>

		<a href="<%= user_albums_url(@user)  %>">
			<div class="cover-photo">
				<% cover_photos = @user.get_cover_photos %>
				<% src = cover_photos.empty? ? Photo.default_cover_photo_url : cover_photos.first.file.url %>
				<img src="<%= src %>">
			</div>
		</a>

		<div class="user-header-links">

			<ul>
          		<li><a href="<%= wall_user_url(@user) %>">Timeline</a></li>
          		<li><a href="#">About</a></li>
          		<li><a href="<%= user_albums_url(@user) %>">Photos</a></li>
          		<li><a href="<%=  friends_user_url(@user) %>">Friends</a></li>
          		<li><a href="#">More</a></li>
        	</ul>

		</div>

	</section>

	<section class="user-profile-body group"> 

		<section class="user-details group">

			<article class="user-mini-photos">

				<header class="box-header"><p>Photos</p></header>

				<div class="user-detail-photos group">	
					<ul class="group">
						<% @photos.each do |photo| %>
							<li><img src="<%= photo.file.url %>"></li>
						<% end %>
					</ul>
				</div>

			</article>

		<article class="user-mini-photos">

			<header class="box-header"><p>Friends</p></header>

			<div class="user-detail-photos group">
				<ul class="group">

					<% @friends.each do |friend| %>
						<a href="<%= wall_user_url(friend) %>">
						<div class="friend-mini-profile group">
							<% profile_photos = friend.get_profile_photos %>
							<% src = profile_photos.empty? ? Photo.default_photo_url               : profile_photos.first.file.url %>

							<div class="friend-name"><p><%= friend.full_name %></p></div>
							<li><img src="<%= src %>"></li>
						</div>
						</a>
					<% end %>
				</ul>

			</div>

		</article>			
	
		</section>

		<% if @user == current_user || @user.friends_with?(current_user) %>
	
  		<section class="posts"> 
	
			<section class="new-post">
  				<%= render partial: "/posts/form" %>
  			</section>
  			<br>
	
			<ul id="posts-index">
    			<% @received_posts.reverse.each do |post| %>
    				<% if post.viewable_by_user?(current_user) %>
    	  				<%= render partial: "/posts/post", locals: { post: post, type: "wall"} %>
    	  			<% end %>
    	  			<br>
    			<% end %>
			</ul>

  		</section>

  		<% end %>

  	</section>

</section>

  <section class="chat group">
    <article class="online-users">

      <div class="online-users-header">Chat</div>
      <div class="online-users-list"></div>

    </article>
    <article class="chat-boxes"></article>
  </section>


<script>

	$(document).ready(function(){
	
		var $newPost = $(".new-post")
		var $postsList = $("#posts-index");

		$newPost.on("ajax:success", "form", function(event, data){
			$postsList.prepend(data)
			event.currentTarget.reset();
		});

	});

</script>


<script>
  
  $(document).ready(function(){

    $chat = $(".chat")
    $onlineUsersList = $(".online-users-list")
    $chatBoxes = $(".chat-boxes")
    
    // setInterval(function(){ 

      $.ajax({
        url: "/online_friends",
        type: "GET",
        success: function (data) {
          $onlineUsersList.html(data)
        }
      });

    // }, 5000);

    $chat.on("ajax:success", "a", function(event, data){
      //REMOVE CHAT BOX FIRST IF IT EXISTS?
      $chatBoxes.append(data)
    });


    $(".chat-boxes").on("click", "a", function(){
        $(this).closest('article').remove()
    });

    $(".online-users-header").on("click", function(event){
      $(event.currentTarget).closest("article").toggleClass("minimized-online-users")
    })

  }); 

</script>