<%= render partial: "users/userheader" %>

<section class="user-albums friend-page group">

  
  <header class="group"> 
      <section>
        Friends
        <% unless @user == current_user %>
          of <%= @user.full_name %>
        <% end %>
      </section>

      <% if @user == current_user %>

      <div class="tutorial-element group">
        <a href="#" class="album-create" id="new-group">
          New Friend Group
        </a>
          <div class="tutorial group">
            Create friend groups to limit the visibility of your posts.
          </div>
      </div>
        
      <% end %>
  </header>
  
  
  <section class="friends-list">

    <% unless @user.received_requests.empty? %>

      <ul>
       <% @user.received_requests.each do |request| %>
       <% requestor = request.requestor %>
       <a href="<%= wall_user_url(requestor)%>">
            <li class="group">
    
              <img src="<%= requestor.profile_photo_url %>">
    
              <div class="friend-list-details">
                  <%= requestor.full_name %>
              </div>
              
              <% if @user == current_user %>
                <div class="friend-list-options">
                  <%= button_to "Decline", decline_request_url(request), method: :put, :class => "album-create" %>
                  <%= button_to "Accept", accept_request_url(request), method: :put, :class => "album-create" %>
                </div>
              <% end %>
    
            </li>
          </a>
        <% end %> 
      </ul>

    <% end %>



    <% unless @user.owned_friendships.empty? %>
      <ul>
       <% @user.owned_friendships.each do |friendship| %>
       <a href="<%= wall_user_url(friendship.friend) %>">
            <li class="group">
    
              <img src="<%= friendship.friend.profile_photo_url %>">
    
              <div class="friend-list-details">
                
                  <%= friendship.friend.full_name %>
                
              </div>
              
              <% if @user == current_user %>
                <div class="friend-list-options">
                  <%= button_to "Unfriend", friendship_url(friendship), 
                  method: :delete, :class => "submit" %>
                </div>
              <% end %>
    
            </li>
          </a>
        <% end %> 
      </ul>
    <% end %>
  </section>



  <section id="modal" class="photo-modal modal">
    <article class="modal-content">
    
      <section class="photo-form">
        <span class="close-modal">&times;</span>
        <%= render partial: "friend_groups/form" %>
      </section>
  
    </article>
    <div class="modal-screen close-modal"></div>
  </section>  

</section>


<%= render partial: "users/chat" %>



<script>

  window.openModal = function(event){
    $("#modal").addClass("is-active");
  }
  
  window.closeModal = function(event){
    $("#modal").removeClass("is-active");
  }
  
  $(document).ready(function(){
    $("#new-group").on("click", window.openModal);
    $(".user-albums").on("click", ".close-modal", window.closeModal);
  });

</script>