<%= render partial: "users/userheader" %>

<section class="user-albums friend-page group">

  
  <header class="group"> 
      <section>
        Friends
        <% unless @user == current_user %>
          of <%= @user.full_name %>
        <% end %>
      </section>

      <% if @user == current_user %>
        <a href="<%= new_friend_group_url %>" class="album-create">New Friend Group</a>
        <a href="<%=friend_groups_url%>" class="album-create">Friend Groups</a>
        <!-- ADD HOVER SAYING WHAT FRIEND GROUPS DO? -->
      <% end %>
  </header>
  
  
  <section class="friends-list">

    <% unless @user.received_requests.empty? %>

      <ul>
       <% @user.received_requests.each do |request| %>
       <% requestor = request.requestor %>
       <a href="<%= wall_user_url(requestor)%>">
            <li class="group">
    
              <img src="<%= requestor.profile_photo_url %>">
    
              <div class="friend-list-details">
                  <%= requestor.full_name %>
              </div>
              
              <% if @user == current_user %>
                <div class="friend-list-options">
                  <%= button_to "Decline", decline_request_url(request), method: :put, :class => "album-create" %>
                  <%= button_to "Accept", accept_request_url(request), method: :put, :class => "album-create" %>
                </div>
              <% end %>
    
            </li>
          </a>
        <% end %> 
      </ul>

    <% end %>



    <% unless @user.owned_friendships.empty? %>
      <ul>
       <% @user.owned_friendships.each do |friendship| %>
       <a href="<%= wall_user_url(friendship.friend) %>">
            <li class="group">
    
              <img src="<%= friendship.friend.profile_photo_url %>">
    
              <div class="friend-list-details">
                
                  <%= friendship.friend.full_name %>
                
              </div>
              
              <% if @user == current_user %>
                <div class="friend-list-options">
                  <%= button_to "Unfriend", friendship_url(friendship), 
                  method: :delete, :class => "submit" %>
                </div>
              <% end %>
    
            </li>
          </a>
        <% end %> 
      </ul>
    <% end %>
  </section>

</section>



<!-- Requests Sent -->
<% unless @user.sent_requests.empty? %>
  <h3>Friend Requests Sent To:</h3>

  <% @user.sent_requests.each do |request| %>
    <li>
      <% requestee = request.requestee %>
      <a href="<%= wall_user_url(requestee)%>"><%= requestee.first_name %> <%= requestee.last_name %></a>
    </li>
  <% end %>
<% end %>


<!-- Requests From  -->


<%= render partial: "users/chat" %>