<section class="friend-page group">

  <section class="friend-nav-bar group">
    <a href="<%= new_friend_group_url %>" class="submit">Create Friend Group</a>
    <a href="<%=friend_groups_url%>" class="submit">Friend Groups</a>
  </section>
  
  
  <section class="friends-list">
    <% unless @user.owned_friendships.empty? %>
      <ul>
       <% @user.owned_friendships.each do |friendship| %>
          <li class="group">
  
            <img src="<%= friendship.friend.profile_photo_url %>">
  
            <div class="friend-list-details">
              <a href="<%= user_url(friendship.friend) %>">
                <%= friendship.friend.full_name %>
              </a>
            </div>
  
            <div class="friend-list-options">
          <%= button_to "Unfriend", friendship_url(friendship), method: :delete, :class => "submit" %>
            </div>
  
          </li>
        <% end %> 
      </ul>
    <% end %>
  </section>

</section>






<!-- Requests Sent -->
<% unless @user.sent_requests.empty? %>

  <h3>Friend Requests Sent To:</h3>

  <% @user.sent_requests.each do |request| %>

    <li>
      <% requestee = request.requestee %>
      <a href="<%= user_url(requestee)%>"><%= requestee.firstName %> <%= requestee.lastName %></a>
    </li>

  <% end %>

<% end %>


<!-- Requests From  -->
<% unless @user.received_requests.empty? %>

  <h3>Friend Requests From:</h3>

  <% @user.received_requests.each do |request| %>

    <li>
      <% requestor = request.requestor %>
      <a href="<%= user_url(requestor)%>"><%= requestor.firstName %> <%= requestor.lastName %></a>
    </li>

    <%= button_to "Accept", accept_request_url(request), method: :put %>
    <%= button_to "Decline", decline_request_url(request), method: :put %>
    
  <% end %>
<% end %>