<% unless @user.friends.empty? %>

  <h3>Friends:</h3>

   <% @friendships.each do |friendship| %>

      <li>
        <a href="<%= user_url(friendship.friend) %>">
          <%= friendship.friend.firstName %> <%= friendship.friend.lastName %>
        </a>

        <%= button_to "Unfriend", friendship_url(friendship), method: :delete %>
      </li>

    <% end %> 

<% end %>



<!-- Requests Sent -->
<% unless @sent_requests.empty? %>

  <h3>Friend Requests Sent To:</h3>

  <% @sent_requests.each do |request| %>

    <li>
      <% requestee = request.requestee %>
      <a href="<%= user_url(requestee)%>"><%= requestee.firstName %> <%= requestee.lastName %></a>
    </li>

  <% end %>

<% end %>



<!-- Requests From  -->
<% unless @received_requests.empty? %>

  <h3>Friend Requests From:</h3>

  <% @received_requests.each do |request| %>

    <li>
      <% requestor = request.requestor %>
      <a href="<%= user_url(requestor)%>"><%= requestor.firstName %> <%= requestor.lastName %></a>
    </li>

    <%= button_to "Accept", accept_request_url(request), method: :put %>
    <%= button_to "Decline", decline_request_url(request), method: :put %>
    
  <% end %>
<% end %>