<section class="nav_bar"
  <h4><a href="<%= friends_user_url(current_user) %>">My Friends</a></h4>
  <h4><a href="<%= user_albums_url(current_user) %>">My Albums</a></h4>
</section>


<%= render partial: "userprofile" %>


<%= render partial: "createpost" %>


<%= render partial: "timeline" %>











