<%= render partial: "users/userheader" %>

<section class="user-albums">

	<ul class="album-index group">

		<% unless @user.albums.empty? %>
			<% @user.albums.each do |album| %>
				<li>
					<a href="<%= album_url(album) %>">
						<% if !album.photos.empty? %>
							<% src = album.photos.sample.file.url(:thumb) %>
						<% else %>
							<% src = Photo.default_photo_url %>
						<% end %>
						<img src="<%= src %>">
						<tag><%= album.name %></tag>
					</a>

				 	<% if @user == current_user %>
						<% unless (album.name == "Profile Photos") || (album.name == "Cover Photos") %>
							<%= button_to "Delete Album", user_album_url(current_user, album), method: :delete %>
						<% end %>
						 <%= button_to "Edit Album", edit_album_url(album), method: :get %>
					<% end %> 

				</li>
	
			<% end %>	
		<% end %>

	</ul>	

	<% if @user == current_user %>
		<a class="submit" href="<%= new_album_url %>">
			Create a new album
		</a>
	<% end %>

</section>

<%= render partial: "users/chat" %>