<h3> <%= @user.full_name %>'s Albums </h3>

	<% if @user == current_user %>
		<a href="<%= new_album_url %>">Create An Album</a>
	<% end %>

<% unless @user.albums.empty? %>
	<% @user.albums.each do |album| %>
		
		<li><a href="<%= album_url(album) %>"><%= album.name %></a></li>

		<% if @user == current_user %>
			<% unless (album.name == "Profile Photos") || (album.name == "Cover Photos") %>
				<%= button_to "Delete Album", user_album_url(current_user, album), method: :delete %>
			<% end %>
		<% end %>

	<% end %>	
<% end %>	