<section class="post group">

  <form 
    action="<%= user_posts_url(@user) %>" 
    method="post" 
    enctype="multipart/form-data"
    data-remote="true">

      <input 
        name="authenticity_token" 
        value="<%= form_authenticity_token %>" 
        type="hidden">

       
        <input name="location[long]" value="" type="hidden" id="long">
        <input name="location[lat]" value="" type="hidden" id="lat">

      <header class="box-header">
        <p>Post</p>
      </header>

      <textarea name="post[body]"  placeholder="Type Something..."></textarea>

       
      <div class="post-footer group">
        
        <input class="submit" type="submit" value="Post">
        <input class="file-submit" type="file" multiple name="photos[]" value="Upload Photos">

        <!-- TAG DROPDOWN -->
        <div class="share-checkbox submit">
          Tag

          <ul class="share-dropdown submit">
            <% current_user.friends.each do |friend| %>
                <li>
                  <input type="checkbox" name="post[tagged_user_ids][]" value="<%= friend.id %>">
                  <label><%= friend.full_name %></label>
                </li>
            <% end %> 
          </ul>
        </div> 

        <% unless current_user.created_groups.empty? %>

          <!-- SHARE DROPDOWN -->
          <div class="share-checkbox submit">
            Visibility
  
            <ul class="share-dropdown submit">
            <% current_user.created_groups.each do |group| %>  
                <li>
                  <input type="checkbox" name="share[group_ids][]" value="<%= group.id %>">
                  <label><%= group.group_name %></label>
                </li>
            <% end %> 
            </ul>
          </div>

        <% end %>

      </div>

      <div class="map-container">
        <div id="map"></div>
      </div>

  </form>

  


  <script>
       var map = L.mapbox.map('map', 'gavcastro.i4mcl7e7')

       navigator.geolocation.getCurrentPosition( function(loc) {
          map.setView([loc.coords.latitude, loc.coords.longitude], 9);
          $("#long").val( loc.coords.longitude )
          $("#lat").val( loc.coords.latitude )

       })
  </script>


</section>



