
<article class="post">

	<%= button_to "x", post_url(post), method: :delete, :class => "delete-post" %>

	<header class="post-header group">

		<div class="post-header-thumbnail">
          <a href="#">
          	<% profile_photos = post.author.get_profile_photos %>
			<% src = profile_photos.empty? ? Photo.default_photo_url : profile_photos.first.file.url %>
      		<img src="<%= src %>">  	
          </a>
        </div>

         <div class="post-header-info">
          <h3><a href="#"><%= post.author.first_name %></a> 
          		<% if type == "newsfeed"%>
          			> <%= post.recipient.full_name %> 
          		<% end %>
          </h3>
              
          <p>
          	Sent <%= ((Time.now - post.created_at) / (60 * 60)).floor %> hours ago
          	<br>
          	<% unless post.location.nil? || post.location.location_string.nil? %>
          		<% location_json = JSON.parse(post.location.location_string) %>
          		From <%= location_json["city"] %>, <%= location_json["province"] %> 
          	<% end %>
          </p>
        </div>

	</header>
		
	<div class="post-content">
		
		<p><%= post.body %></p>
		
		<% if post.photos %>
		  <% post.photos.each do |photo| %>
		    <img src="<%= photo.file.url(:med) %>">
		  <% end %>
		<% end %>

	</div>
		
	<div class="post-footer">
		<%= render partial: "comments/form", locals: { post: post } %>

		<!-- ADD LOGIC TO CHANGE THIS BUTTON TO UNLIKE IF USER ALREADY LIKED -->
		<%= button_to "Like", like_post_url(post), method: :post, :class => "submit" %>
		<div class="num-likes"><%= post.likes.count %></div>
		
			<ul class="group">
				<% post.comments.each do |comment| %>
					<li>
						<%= button_to "x", comment_url(comment), method: :delete, :class => "delete-post" %>
						<div class="comment-header group">
							<img src="<%= comment.author.profile_photo_url %>">
							<div class="comment-details">
								<strong><%= comment.author.first_name %></strong>: <%= comment.comment %>
								<br>
								<%= ((Time.now - comment.created_at) / (60 * 60)).floor %> hours ago
							</div>
						</div>
					</li>
				<% end %>
			</ul>
			
	</div>

	</div>
	
</article>
	
	<!-- 
	
	
	 		 Post Tags -->
	<!-- 	<% unless post.tagged_users.empty? %>
		  Tagged: 
		  <% post.tagged_users.each do |user| %>
		    <li><%= user.first_name %> <%= user.last_name %></li>
		  <% end %>
		<% end %> -->
	



