
<article class="post">

	<header class="post-header group">

		<div class="post-header-thumbnail">
          <a href="#">
      		<img src="<%= Post.find(1).photos.first.file.url(:thumb) %>">  	
          </a>
        </div>

         <div class="post-header-info">
          <h3><a href="#"><%= post.author.firstName %></a></h3>
          <p>Sent 3 hours ago from New York</p>
        </div>

	</header>
		
	<div class="post-content">
		
		<p><%= post.body %></p>
		
		<% if post.photos %>
		  <% post.photos.each do |photo| %>
		    <img src="<%= photo.file.url(:med) %>">
		  <% end %>
		<% end %>

	</div>
		
	<div class="post-footer">
		<%= render partial: "comments/form", locals: { post: post } %>
		<button class="submit">Like!</button>
	</div>
	
</article>
	
	<!-- 
	<%= render partial: "comments/comments", locals: { post: post } %>
	
	 		 Post Tags -->
	<!-- 	<% unless post.tagged_users.empty? %>
		  Tagged: 
		  <% post.tagged_users.each do |user| %>
		    <li><%= user.firstName %> <%= user.lastName %></li>
		  <% end %>
		<% end %> -->
	



