<article class="post">

	<div class="delete-post">
		<%= button_to "x", post_url(post), method: :delete, :class => "delete-post", remote: true %>
	</div>

	<header class="post-header group">

		<div class="post-header-thumbnail">
          <a href="#">
          	<% profile_photos = post.author.get_profile_photos %>
			<% src = profile_photos.empty? ? Photo.default_photo_url : profile_photos.first.file.url %>
      		<img src="<%= src %>">  	
          </a>
        </div>

         <div class="post-header-info">
          <h3><a href="#"><%= post.author.first_name %></a></h3>
              
          <p>
          	Sent <%= ((Time.now - post.created_at) / (60 * 60)).floor %> hours ago
          	
          	<% unless post.location.nil? || post.location.location_string.nil? %>
          		<% location_json = JSON.parse(post.location.location_string) %>
          		from <%= location_json["city"] %>, <%= location_json["province"] %> 
          	<% end %>
          	
          </p>
        </div>

	</header>
		
	<div class="post-content">
		
		<p><%= post.body %></p>
		
		<% if post.photos %>
		  <% post.photos.each do |photo| %>
		    <img src="<%= photo.file.url(:med) %>">
		  <% end %>
		<% end %>

	</div>
		
	<div class="post-footer" id="<%= post.id %>">
		<%= render partial: "comments/form", locals: { post: post } %>

		<!-- FIX N+1 QUERIES -->
		<% like = current_user.liked_items.where("likeable_id = ?", post.id) %>
		<% unless like.empty? %>
			<%= button_to "Unlike", like_url(like.first), method: :delete, :class => "submit" %>
		<% else %>
			<%= button_to "Like", like_post_url(post), method: :post, :class => "submit" %>
		<% end %>

		<div class="num-likes"><%= "&#9757;".html_safe %> <%= post.likes.count %></div>
		
		<ul class="comments group">
			<% post.comments.each do |comment| %>
				<%= render partial: "comments/comment", locals: { comment: comment } %>
			<% end %>
		</ul>
			
	</div>
	
</article>
	

<script> 
	
	$(document).ready(function(){

		$deletePost = $(".delete-post")
		$postFooter = $("#<%= post.id %>")

		$postFooter.on("ajax:success", "form", function(event,data) {
			$(event.currentTarget).closest("div").children("ul").append(data)
			event.currentTarget.reset()
		});

		$deletePost.on("ajax:success", "form", function(event,data) {
			$post = $(event.currentTarget).closest("article")
			$post.remove()

		});

	});


</script>

























	<!-- 
	
	
	 		 Post Tags -->
	<!-- 	<% unless post.tagged_users.empty? %>
		  Tagged: 
		  <% post.tagged_users.each do |user| %>
		    <li><%= user.first_name %> <%= user.last_name %></li>
		  <% end %>
		<% end %> -->
	



