<!DOCTYPE html>
<html>
  
  <style>

  html, body, header, nav, h1, a, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
  }

  body {
    font-family: sans-serif;
    background-color: #edf0f5;
  }

  a {
    text-decoration: none;
  }

  .group:after {
    content: "";
    display: block;
    clear: both;
  }

  .navbar {
    background: #3b5998;
    width: 100%;
  }

  .navbar > nav {
    margin: auto;
    width: 1242px;
    padding: 4px;
  }

  .navbar a {
    color: white;
    font-weight: 550;
    font-size: 13px;
  }

  .navbar ul {
    list-style: none;
    float: left;
    padding: 4px;
  }

  .navbar ul li {
    float: left;
    padding: 7px;
  }

  .user-links {
    display: block;
    float: right;
    width: 300px;
    margin-right: 60px;
  }

  .search-field {
    float: right;
    padding: 5px;
  }

  .search-field > input {
    width: 300px;
    padding: 5px;
    border-radius: 2px;
  }

  logo {
    color: white;
    font-weight: bold;
    font-size: 25px;
    display: block;
    float: left;
    padding: 5px;
    
  }

  .header-logo{
    display: block;
    width: 485px;
    float: left;
  }

/*POST STYLES*/


.posts {
  margin-top: 50px;
  width: 480px;
  float: right;
}

.post {
  border-top: 1px solid #ddd;
  border: 2px solid #ddd;
  border-radius: 3px;
  background-color: white;
}

.post-header {
  padding: 5px 0 2px 5px;
}

.box-header {
  padding: 5px;
  background-color: #f4f6f9;
}

.box-header > p {
  font-weight: bold;
  padding: 4px;
  margin: 0;
  font-size: 12px;
}

.post-header-thumbnail {
  float: left;
  padding: 10px;
}

.post-header-thumbnail > a {
  display: block;
  width: 42px;
  height: 42px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.post-header-thumbnail img {
  width: 100%;
  height: 100%;
}

.post-header-info {
  float: left;
  padding: 20px 0 20px 0;
}

.post-header-info > h3 {
  color: black;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.post-header-info > h3 > a {
  color: black;
  font-size: 14px;
}

.post-header-info > p {
  color: black;
  font-size: 10px;
  padding: 0;
  margin: 0;
}

.post-content {
  padding: 0 15px;
  font-size: 14px;
}

.create-comment {
  padding: 10px;
  background-color: white;
}

.comment-box {
  width: 175px;
}

.submit {
    position: relative;
    margin-top: 18px;
    padding: 3px 6px;

    background: #5b74a8;
    color: #fff;
    font-weight: bold;

    border-radius: 3px;
    border-color: #29447e #29447e #1a356e;
    box-shadow: 0 2px 0 0 #29447e; 
}

.logout {
  display: block;
  float: right;
  bottom: 9px;
}

textarea {
   resize: none;
   border: none;
   display: block;
   margin: auto;
   width: 455px;
   height: 50px;
   padding: 10px;
}

textarea:focus {
    outline: none ;
    height: 100px;
}

.post-footer {
  display: block;
  background-color: #f4f6f9;
  padding: 10px;
}

.post-footer > input {
  float: left;
  margin: 2px 5px;
}

.post-footer > div {
  float: right;
  margin: 2px 5px;
  font-size: 12px;
}

.post-footer > ul {
  list-style: none;
}

.post-footer li {
  display: block;
  padding: 10px;
  width: 400px; /*CAN DELETE LATER*/
  font-size: 11px;
}

.comment-header img {
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 2px;
  float: left;
}

.comment-details {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
  vertical-align: middle;
  display: block;
}


.file-submit::-webkit-file-upload-button {
  visibility: hidden;
}

.file-submit:before {
  content: 'Upload Photo';
  display: inline-block;
  background: #5b74a8;
  border-color: #29447e #29447e #1a356e;
  color: #fff;
  border-radius: 3px;
  padding: 3px 4px;
  margin: 1px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 5px 0 0 #29447e;
}

.comment-form {
  float: left;
  border-radius: 2px;
}

.comment-form > input {
  padding: 3px;
}

.delete-post {
  float: right;
  width: auto;
  border: 0 none;
  margin: 5px 10px 0 0;
  padding:0;
  background: transparent;
  font-size: 14px;
  color: #A8A8A8;
}

.user-header {
  position: relative;
  display: block;
  margin: auto;
  width: 850px ;
  height: 355px; /*Placeholder*/
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  border-radius: 3px;
}

.cover-photo {
  display: block;
  height: 88%;
  overflow: hidden;
}

.cover-photo img {
  width:100%; 

  /*max-height:100%;*/
}

.profile-picture {
  display: block;
  width: 165px;
  height: 165px;
  position: absolute;
  top: 169px;
  left: 39px;
  border: 4px solid #ddd;
  border-radius: 2px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
}

.profile-name {
  position: absolute;
  top: 245px;
  left: 240px;
}

.profile-name p {
  color: white;
  font-weight: bold;
  font-size: 25px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.add-friend {
  position: absolute;
  display: block;
  top: 270px;
  left: 730px;
  float: right;
  width: auto;
  border: 0 none;
  margin: 5px 10px 0 0;
  padding: 5px;
  background: white;
  font-size: 12px;
  color: black;
  font-weight: bold;
  border: 2px solid #bbb;
  border-radius: 4px;
}

.user-header-links {
  display: block;
  height: 12%; /*Placeholder*/
  background-color: white;
}

.user-header-links ul {
  list-style: none;
  float: right;
  margin-right: 85px; 
  border-left: 1px solid #ddd;
}

.user-header-links ul li {
  float: left;
  padding: 13px 25px;
  border-right: 1px solid #ddd;
}

.user-header-links ul li a {
  color: #3b5998;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.user-profile-body {
  margin: auto;
  width: 850px;
}

.user-details {
  margin-top: 50px;
  display: block;
  width: 317px;
  height: 200px;
  float: left;
}

.user-mini-photos {
  border-top: 1px solid #ddd;
  border: 2px solid #ddd;
  border-radius: 3px;
  background-color: white;
  margin-bottom: 25px;
}

.friend-mini-profile {
  position: relative;
  float: left;
}


.friend-name {
  position: absolute;
  color: white;
  font-size: 10px;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  left: 20px;
  top: 58px;
}

.user-detail-photos > ul {
  margin: auto;
  list-style: none;
}

.user-detail-photos > ul li {
  height: 100px;
  width: 100px;
  display: block;
  float: left;
  border: 1px solid #ddd;
  border-radius: 2px;
  margin: 1px;
}

.user-detail-photos li img {
  display: block;
  width: 100%;
  height: 100%;
}

 .header-logo {
    float: left;
  }

  .sign-in {
    float: right;
    width: 355px;
  }

  .sign-in input {
    padding: 2px;
    border-radius: 3px;
  }

  .inputs {
    display: block;
    padding: 0 8px 8px 8px;
  }

  .inputs label {
    color: white;
    font-size: 10px;
    margin-right: 3px;
  }

  .email {
    float: left;
    display: block;
    width: 120px;
  }

  .password {
    float: left;
    display: block;
    width: 120px;
  }

  .login {
    float: left;
    display: block;
    width: auto;
  }

  .body{
    background-color: #edf0f5;
  }

  #sign_up{
    width:100px;
    display: block;
    float: right;
    margin-right: 500px;
  }

  #signup_header {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Freight Sans Bold', 'lucida grande',tahoma,verdana,arial,sans-serif;
    display: block;
  }

  #signup_text {
    font-size: 20px;
    font-weight: none;
    font-family: 'Freight Sans', 'lucida grande',tahoma,verdana,arial,sans-serif; 
  }

  .signup_fields > input {
    display: block;
    float: left;
    width: 250px;
    padding: 8px 10px;
    font-size: 18px;
    border: solid 1px;
    border-color: #bdc7d8;
    border-radius: 5px;    
  }

  .signup {
    width: 600px;
    float: right;
    padding-top: 25px;
    padding-bottom: 100px;
  }

  .signup_intro {
    padding-bottom: 15px;
  }

   #signup_button > input {
    background: #69a74e;
    border: 1px solid;
    border-color: #3b6e22 #3b6e22 #2c5115;
    padding: 10px 20px;
    font-size: 20px;
  }

  .sign-up-button > input {
    position: relative;
    display: inline-block;
    background: #5b74a8;
    border-color: #29447e #29447e #1a356e;
    color: #fff;
    padding: 3px 6px;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #29447e;
    font-weight: bold;
    margin-top: 18px
  }

  .share-checkbox {
    position: relative;
  }

  .share-checkbox:hover > .share-dropdown {
    display: block;
    z-index: 10;
  }

  .share-dropdown {
    position: absolute;
    list-style: none;
    color: white;
    top: 17px;
    left: 0px;
    width: 170px;
    padding: 0;
    margin: 0;
    display: none;
  } 

  .share-dropdown > li {
    display: block;
    padding: 5px;
  } 

  .album-index li {
    position: relative;
    display: block;
    width: 150px;
    height: 150px;
    padding: 3px;
    border: 2px solid #bbb;
    border-radius: 3px;
    float: left;
    margin: 25px;
    background-color: #aaa;
  }

  .album-index tag {
    display: block;
    position: absolute;
    width: 150px;
    bottom: 11px;
    color: white;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
  }

  .album-index img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .album-submit {
    display: block;
    width: 200px;
  }

  .user-albums > a {
    margin: 25px;
    font-weight: normal;
  }

  .friends-list {
    display: block;
    width: 40%;
    margin: auto;
  }

  .friends-list ul {
   list-style: none;
  }

  .friends-list li {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    margin: 10px;
  }

  .friends-list img {
    display: block;
    width: 50px;
    height: 50px;
    float: left;
    border: 1px solid #ddd;
    margin: 5px;
  }

  .friend-list-details {
    display: block;
    margin: 5px;
  }

  .friend-list-options {
    display: block;
    float: right;
  }

  .friend-page {
    display: block;
  }

  .friend-nav-bar {
    width: 25%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 20px;
    display: block;
  }

  .friend-nav-bar > a {
    margin: 10px 0;
  }

  .all-results {
    padding: 50px;
  }

  .results-subsets {
    padding: 50px;
    background-color: green;
    display: block;
    width: 40%;
    margin: auto;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    background: white;
  }

  .results-subsets ul {
    list-style: none;
  }

  .results-subsets li {
    background-color: #fff;
    padding: 10px;
    border: 1px solid black;
    border-radius: 2px;
    margin: 10px;
  }

  .results-subsets li:hover {
    background-color: #bbb;
    color: white;
  }

  .search-bar {
    padding: 5px;
    width: 250px;
  }

  .search-button {
    margin: 0 10px;
  }

  .newsfeed {
    width: 30%;
    margin: auto;
  }

  .newsfeed article {
    margin: 20px 0;
  }

  .new-message-thread {
    display: block;
    float: left;
    padding: 10px;
    border: 1px solid black;
    margin-top: 10px;
  }

  .message-threads {
    display: block;
    float: right;
    width: 750px;
    border: 1px solid black;
    margin-top: 10px;
    padding: 10px;
  }

  .message-threads ul {
    list-style: none;
  }

  .message-threads li {
    padding: 5px;
    border: 1px solid #ccc;
    background-color: white;
  }

  .message-thread {
    display: block; 
    width: 500px;
    margin: auto;
    padding: 10px;
    border: 1px solid black;
  }

  .message-thread textarea {
    margin: 15px;
  }

  .message-thread ul {
    list-style: none;
  }

  .message-thread li {
    background-color: white;
    padding: 5px;
    border: 1px solid #ccc;
    margin: 5px;
  }

  .map-container {
    position: relative;
    display: block;
    width:100%;
    height:100px;
  }

  #map { 
    display: block;
    position:absolute; 
    top: 0;
    bottom: 0;
    width: 100%;
  }

</style>


<head>

    <header class="navbar">
      <nav class="group">

      <title>FBClone</title> 
      
      <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
      <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />
      <%= csrf_meta_tags %>


      <% unless flash[:notices].nil? %>
      <h3>Notices</h3>
        <% flash[:notices].each do |notice| %>
          <li><%= notice %></li>
        <% end %>
        <hr>
      <% end %>

    
      <% unless flash[:errors].nil? %>
      <h3>Errors</h3>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
        <hr>
      <% end %>


    <!-- MOVE LOGIC TO CONTROLLER ACTION -->
    <% unless current_user.nil? %>
      
      <div class="header-logo group">
        <a href="<%= newsfeed_user_url(current_user)%>"><logo>Facebook</logo></a>
        <div class="search-field">

          <!-- FIX APPERANCE -->
          <form action="<%= search_url %>" method="GET">
            <input class="search-bar" type="text" name="query" placeholder="Search friends, users, posts etc...">
            <input class="search-button submit" type="submit" value="Search">
          </form>

        </div>
      </div>
        
        
      <div class="user-links group">
        <ul>
          <li><a href="<%= wall_user_url(current_user) %>">Home</a></li>
          <li><a href="<%= notifications_url %>">Notifications</a></li>
          <li><a href="<%= messages_user_url(current_user) %>">Messages</a></li>
        </ul>
        <%= button_to "Log Out", session_url, method: :delete, :class => "submit logout" %>
      </div>
  
    <% end %>

    </nav>
  </header>

</head>

<body>

<%= yield %>

</body>
</html>
