<!DOCTYPE html>
<html>
  
  <style>

  html, body, header, nav, h1, a, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
  }

  body {
    position: relative;
    font-family: sans-serif;
    background-color: #edf0f5;
  }

  a {
    text-decoration: none;
  }

  .group:after {
    content: "";
    display: block;
    clear: both;
  }

  .navbar {
    background: #3b5998;
    width: 100%;
  }

  .navbar > nav {
    margin: auto;
    width: 1242px;
    padding: 4px;
  }

  .navbar a {
    color: white;
    font-weight: 550;
    font-size: 13px;
  }

  .navbar ul {
    list-style: none;
    float: left;
    padding: 4px;
  }

  .navbar ul li {
    float: left;
    padding: 7px;
  }

  .user-links {
    display: block;
    float: right;
    width: 300px;
    margin-right: 60px;
  }

  .user-links {
    display: block;
    position: relative;
  }

  .search-field {
    float: right;
    padding: 5px;
  }

  .search-field > input {
    width: 300px;
    padding: 5px;
    border-radius: 2px;
  }

  logo {
    color: white;
    font-weight: bold;
    font-size: 25px;
    display: block;
    float: left;
    padding: 5px;
    
  }

  .header-logo{
    display: block;
    width: 485px;
    float: left;
  }

/*POST STYLES*/


.posts {
  margin-top: 50px;
  width: 480px;
  float: right;
}

.post {
  border-top: 1px solid #ddd;
  border: 2px solid #ddd;
  border-radius: 3px;
  background-color: white;
}

.post-header {
  padding: 5px 0 2px 5px;
}

.box-header {
  padding: 5px;
  background-color: #f4f6f9;
}

.box-header > p {
  font-weight: bold;
  padding: 4px;
  margin: 0;
  font-size: 12px;
}

.post-header-thumbnail {
  float: left;
  padding: 10px;
}

.post-header-thumbnail > a {
  display: block;
  width: 42px;
  height: 42px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.post-header-thumbnail img {
  width: 100%;
  height: 100%;
}

.post-header-info {
  float: left;
  padding: 20px 0 20px 0;
}

.post-header-info > h3 {
  color: black;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.post-header-info > h3 > a {
  color: black;
  font-size: 14px;
}

.post-header-info > p {
  color: black;
  font-size: 10px;
  padding: 0;
  margin: 0;
}

.post-content {
  padding: 0 15px;
  font-size: 14px;
}

.create-comment {
  padding: 10px;
  background-color: white;
}

.comment-box {
  width: 175px;
}

.submit {
    position: relative;
    margin-top: 18px;
    padding: 3px 6px;

    background: #5b74a8;
    color: #fff;
    font-weight: bold;

    border-radius: 3px;
    border-color: #29447e #29447e #1a356e;
    box-shadow: 0 2px 0 0 #29447e; 
}

.logout {
  display: block;
  float: right;
  bottom: 9px;
}

textarea {
   resize: none;
   border: white;
   display: block;
   width: 455px;
   height: 50px;
   padding: 10px;
   /*margin: 10px;*/
}

textarea:focus {
    outline: none ;
    height: 100px;
}

.post-footer {
  display: block;
  background-color: #f4f6f9;
  padding: 10px;
}

.post-footer > input {
  float: left;
  margin: 2px 5px;
}

.post-footer > div {
  float: right;
  margin: 2px 5px;
  font-size: 12px;
}

.post-footer > ul {
  list-style: none;
}

.post-footer li {
  display: block;
  padding: 10px;
  width: 400px; /*CAN DELETE LATER*/
  font-size: 11px;
}

.comment-header img {
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 2px;
  float: left;
}

.comment-details {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
  vertical-align: middle;
  display: block;
}


.file-submit::-webkit-file-upload-button {
  visibility: hidden;
}

.file-submit:before {
  content: 'Upload Photo';
  display: inline-block;
  background: #5b74a8;
  border-color: #29447e #29447e #1a356e;
  color: #fff;
  border-radius: 3px;
  padding: 3px 4px;
  margin: 1px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 5px 0 0 #29447e;
}

.comment-form {
  float: left;
  border-radius: 2px;
}

.comment-form > input {
  padding: 3px;
}

.delete-post {
  float: right;
  width: auto;
  border: 0 none;
  margin: 5px 10px 0 0;
  padding:0;
  background: transparent;
  font-size: 14px;
  color: #A8A8A8;
}

.user-header {
  position: relative;
  display: block;
  margin: auto;
  width: 850px ;
  height: 355px; /*Placeholder*/
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  border-radius: 3px;
}

.cover-photo {
  display: block;
  height: 88%;
  overflow: hidden;
}

.cover-photo img {
  width:100%; 
}

.profile-picture {
  display: block;
  width: 165px;
  height: 165px;
  position: absolute;
  top: 169px;
  left: 39px;
  border: 4px solid #ddd;
  border-radius: 2px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
}

.profile-name {
  position: absolute;
  top: 245px;
  left: 240px;
}

.profile-name p {
  color: white;
  font-weight: bold;
  font-size: 25px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.add-friend {
  position: absolute;
  display: block;
  top: 270px;
  left: 730px;
  float: right;
  width: auto;
  border: 0 none;
  margin: 5px 10px 0 0;
  padding: 5px;
  background: white;
  font-size: 12px;
  color: black;
  font-weight: bold;
  border: 2px solid #bbb;
  border-radius: 4px;
}

.user-header-links {
  display: block;
  height: 12%; /*Placeholder*/
  background-color: white;
}

.user-header-links ul {
  list-style: none;
  float: right;
  margin-right: 85px; 
  border-left: 1px solid #ddd;
}

.user-header-links ul li {
  float: left;
  padding: 13px 25px;
  border-right: 1px solid #ddd;
}

.user-header-links ul li a {
  color: #3b5998;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.user-profile-body {
  margin: auto;
  width: 850px;
}

.user-details {
  margin-top: 50px;
  display: block;
  width: 317px;
  height: 200px;
  float: left;
}

.user-mini-photos {
  border-top: 1px solid #ddd;
  border: 2px solid #ddd;
  border-radius: 3px;
  background-color: white;
  margin-bottom: 25px;
}

.friend-mini-profile {
  position: relative;
  float: left;
}


.friend-name {
  position: absolute;
  color: white;
  font-size: 10px;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  left: 20px;
  top: 58px;
}

.user-detail-photos > ul {
  margin: auto;
  list-style: none;
}

.user-detail-photos > ul li {
  height: 100px;
  width: 100px;
  display: block;
  float: left;
  border: 1px solid #ddd;
  border-radius: 2px;
  margin: 1px;
}

.user-detail-photos li img {
  display: block;
  width: 100%;
  height: 100%;
}

 .header-logo {
    float: left;
  }

  .sign-in {
    float: right;
    width: 355px;
  }

  .sign-in input {
    padding: 2px;
    border-radius: 3px;
  }

  .inputs {
    display: block;
    padding: 0 8px 8px 8px;
  }

  .inputs label {
    color: white;
    font-size: 10px;
    margin-right: 3px;
  }

  .email {
    float: left;
    display: block;
    width: 120px;
  }

  .password {
    float: left;
    display: block;
    width: 120px;
  }

  .login {
    float: left;
    display: block;
    width: auto;
  }

  .body{
    background-color: #edf0f5;
  }

  #sign_up{
    width:100px;
    display: block;
    float: right;
    margin-right: 500px;
  }

  #signup_header {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Freight Sans Bold', 'lucida grande',tahoma,verdana,arial,sans-serif;
    display: block;
  }

  #signup_text {
    font-size: 20px;
    font-weight: none;
    font-family: 'Freight Sans', 'lucida grande',tahoma,verdana,arial,sans-serif; 
  }

  .signup_fields > input {
    display: block;
    float: left;
    width: 250px;
    padding: 8px 10px;
    font-size: 18px;
    border: solid 1px;
    border-color: #bdc7d8;
    border-radius: 5px;    
  }

  .signup {
    width: 600px;
    float: right;
    padding-top: 25px;
    padding-bottom: 100px;
  }

  .signup_intro {
    padding-bottom: 15px;
  }

   #signup_button > input {
    background: #69a74e;
    border: 1px solid;
    border-color: #3b6e22 #3b6e22 #2c5115;
    padding: 10px 20px;
    font-size: 20px;
  }

  .sign-up-button > input {
    position: relative;
    display: inline-block;
    background: #5b74a8;
    border-color: #29447e #29447e #1a356e;
    color: #fff;
    padding: 3px 6px;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #29447e;
    font-weight: bold;
    margin-top: 18px
  }

  .share-checkbox {
    position: relative;
  }

  .share-checkbox:hover > .share-dropdown {
    display: block;
    z-index: 10;
  }

  .share-dropdown {
    position: absolute;
    list-style: none;
    color: white;
    top: 17px;
    left: 0px;
    width: 170px;
    padding: 0;
    margin: 0;
    display: none;
  } 

  .share-dropdown > li {
    display: block;
    padding: 5px;
  } 

  .album-index li {
    position: relative;
    display: block;
    width: 200px;
    height: 200px;
    border: 1px solid #eee;
    border-radius: 1px;
    float: left;
    margin: 3px;
    background-color: #aaa;
  }

  .album-index li:hover {
    opacity: 0.5;
  }

  .album-index tag {
    display: block;
    position: absolute;
    width: 200px;
    bottom: 11px;
    color: white;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
  }

  .album-index img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .album-submit {
    display: block;
    width: 200px;
  }

  .user-albums > a {
    margin: 25px;
    font-weight: normal;
  }

  .user-albums {
    display: block;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: white;
    padding-bottom: 40px;
  }

  .user-albums header {
    display: block;
    background-color: #eee;
    height: 75px;
    border-top:  1px solid #ddd;
    border-left:  1px solid #ddd;
    border-right:  1px solid #ddd;
    border-radius: 3px;
  }

  .user-albums header section {
    display: block;
    font-weight: 100;
    font-size: 25px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    color: #aaa;
  }

  .album-create {
    display: block;
    float: right;
    width: 105px;
    background-color: #fff;
    padding: 5px;
    color: black;
    font-weight: 100;
    border: 1px solid #aaa;
    font-size: 13px;
    margin-top: 20px;
    margin-right: 10px;
  }

  .album-create:hover {
    text-decoration: underline;
  }

  .delete-photo {
    display: none;
    position: absolute;
    top: 65px;
    left: 45px;
  }

  .album-index li:hover .delete-photo {
    display: block;
  }

  .friends-list {
    display: block;
    width: 40%;
    margin: auto;
  }

  .friends-list ul {
   list-style: none;
  }

  .friends-list li {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    margin: 10px;
  }

  .friends-list img {
    display: block;
    width: 50px;
    height: 50px;
    float: left;
    border: 1px solid #ddd;
    margin: 5px;
  }

  .friend-list-details {
    display: block;
    margin: 5px;
  }

  .friend-list-options {
    display: block;
    float: right;
  }

  .friend-page {
    display: block;
  }

  .friend-nav-bar {
    width: 25%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 20px;
    display: block;
  }

  .friend-nav-bar > a {
    margin: 10px 0;
  }

  .all-results {
    padding: 50px;
  }

  .results-subsets {
    padding: 50px;
    background-color: green;
    display: block;
    width: 40%;
    margin: auto;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    background: white;
  }

  .results-subsets ul {
    list-style: none;
  }

  .results-subsets li {
    background-color: #fff;
    padding: 10px;
    border: 1px solid black;
    border-radius: 2px;
    margin: 10px;
  }

  .results-subsets li:hover {
    background-color: #bbb;
    color: white;
  }

  .search-bar {
    padding: 5px;
    width: 250px;
  }

  .search-button {
    margin: 0 10px;
  }

  .newsfeed {
    width: 30%;
    margin: auto;
  }

  .newsfeed article {
    margin: 20px 0;
  }


  /*.message-threads ul {
    list-style: none;
  }

  .message-threads li {
    padding: 5px;
    border: 1px solid #ccc;
    background-color: white;
  }

  .message-thread {
    display: block; 
    width: 500px;
    margin: auto;
    padding: 10px;
    border: 1px solid black;
  }

  .message-thread textarea {
    margin: 15px;
  }

  .message-thread ul {
    list-style: none;
  }

  .message-thread li {
    background-color: white;
    padding: 5px;
    border: 1px solid #ccc;
    margin: 5px;
  }*/

  .map-container {
    position: relative;
    display: block;
    width:100%;
    height:100px;
  }

  #map { 
    display: block;
    position:absolute; 
    top: 0;
    bottom: 0;
    width: 100%;
  }

  /*CHANGE OTHER STUFF*/

/*   .new-message-submit {
    margin-top: 0;
    margin-left: 10px;
   }*/

/*   .user-messages {
      display: block;
      margin-top: 10px;
      width: 700px;
      margin: auto;
   }*/

   .threads-form {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 525px;
    padding-bottom: 15px;
    background-color: #ddd;
    border: 1px solid #aaa;
    border-radius: 4px;
   }

   .threads-form textarea {
    display: block;
    margin: 10px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
   }

   .threads-form > .submit {
    display: block;
    margin: auto;
   }

   .threads-form select {
      font-size: 13px;
      border: 1px solid lightblue;
      border-radius: 10px;
      color: black;
      padding: 3px;
      width: 100px;
      cursor: pointer;
      margin-left: 23px;
      -webkit-appearance: none;
      
      background-color: white;
      background-transparency: 0.5;
      background-position: right 15px top 22px;
      background-size: 18px 18px;
   }


  .threads-form > select:active {
    border: 1px solid #000;
  }

  .threads-form header {
    display: block;
    background-color: red;
    padding: 10px;
    background-color: #aaa;
    margin-bottom: 15px;
    color: white;
    font-weight: bold;
  }

   .threads-list {
    display: block;
    list-style: none;
    width: 558px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
   }

   .threads-list li {
     background-color: white;
     border: 1px solid #aaa;
     border-radius: 4px;
    /* margin: 10px;*/
   }

   .threads-list li:hover > header {
    background-color: #aaa;
   }

   .threads-list li:hover > div {
    background-color: #ddd;
   }

   .threads-list li > header {
    display: block;
    background-color: #bbb;
    padding: 8px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border-bottom: 1px solid #aaa;
   }

   .threads-list li > div {
    padding: 8px;
    color: black;
    font-size: 13px;
   }


  .chat {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: blue;
    width: 100%;
  }

  .online-users {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    float: right;
    background-color: #ddd;
    height: 400px;
    width: 225px;
    border: 1px solid #aaa;
    border-radius: 2px;
    overflow-y: scroll;
  }

  .online-users-header {
    display: block;
    background-color: #3b5998;
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
  }

  .online-users-list li {
    list-style: none;
    padding: 8px;
    margin: 1px;
    border-bottom: 1px solid #ccc;
    background: #eee;
  }

  .online-users-list li:hover {
    background: #fff;
  }

  .online-users-list a {
    text-decoration: none;
    color: black;
  }

  .online-users-list li > status {
    display: block;
    float: left;
    background: green;
    margin-top: 3px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }

  .online-users-list li > article {
    display: block;
    float: left;
    margin-left: 5px;
    font-size: 12px;
  }

  .chat-boxes {
    display: block;
    position: fixed;
    bottom: 0;
    right: 275px;
    float: right;
    width: 100%;
    height: 0;
  }

  .chat-box {
    display: block;
    position: relative;
    bottom: 275px;
    float: right;
    background-color: white;
    height: 500px;
    width: 250px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .minimized {
    bottom: 30px;
  }

  .minimized-online-users {
    height: 33px;
  }

  .chat-box-header {
    background-color: #3b5998;
    padding: 8px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
  }

  .chat-box-name {
    display: block;
    float: left;
  }

  .chat-box a {
    display: block;
    float: right;
    color: white;
  }

  .chat-box ul {
    display: block;
    background-color: #eee;
    padding: 0;
    margin: 0;
    height: 195px;
    list-style: none;
    padding: 5px;
    overflow-y: scroll;
  }

  .chat-box li {
    display: block;
    font-size: 12px;
  }

  .chat-message-submit {
    display: block;
    float: right;
    margin-top: -1px;
  }

  .chat-message-text {
    display: block;
    float: left;
    width: 203px;
    height: 20px;
    margin: 0;
    border: none;
  }

  .chat-message-text:focus {
    outline: none;
  }

  .chat-message-form {
    padding: 5px;
    border: 1px solid #ccc;
  }

  .modal {
    display: none;
  }

  .modal.is-active {
    display: block;
  }

  .modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    background: #fff;

    margin-left: -400px;
    margin-top: -150px;

    /*padding: 30px;*/
    width: 800px;
    height: 500px;
    z-index: 1000;

    box-shadow: 0 0 3px 3px rgba(0,0,0,0.2);
    border-radius: 2px;
  }

  .modal-image {
    display: block;
    width: 500px;
    height: 500px;
  }

  .modal-image img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .modal-screen {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.9);
    z-index: 999;
  }

  .modal-x {
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

    color: #999;
  }

  .modal-x:hover {
    color: #000;
  }

  .dropdown {
    display: none;
    width: 300px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 2px;
    position: absolute;
    top: 36px;
    left: 59px;
    z-index: 100;
  }

  .dropdown li {
    display: block;
    color: black;
  }

  .dropdown li strong {
    font-size: 12px;
    color: blue;
    margin-right: 5px;
  }

  .dropdown a {
    display: block;
    color: black;
  }

  .single-notification:hover {
    background-color: #ddd;
  }

  .notifications:hover .dropdown {
    display: block;
  }

  .photo-form {
    display: block;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 12px;
    width: 400px;
    /*margin: auto;
    margin-top: 170px*/;
    margin-left: 203px;
    padding: 5px;
  }

  .photo-form .album-create {
    margin-top: 3px;
    margin-bottom: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .photo-form > .close-modal {
    float: right;
    font-size: 16px;
    cursor: pointer;  
    margin-right: 5px;
  }

  .photo-modal > .modal-content {
    height: 0px;
    width: 0px;
  }


  .modal-x .close-modal .album-form {

  }


</style>


<head>

    <header class="navbar">
      <nav class="group">

      <title>FBClone</title> 
      
      <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
      <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />

      <script src="http://js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>

      <%= csrf_meta_tags %>

<!-- 
      <% unless flash[:notices].nil? %>
      <h3>Notices</h3>
        <% flash[:notices].each do |notice| %>
          <li><%= notice %></li>
        <% end %>
        <hr>
      <% end %>

    
      <% unless flash[:errors].nil? %>
      <h3>Errors</h3>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
        <hr>
      <% end %> -->


    <!-- MOVE LOGIC TO CONTROLLER ACTION -->
    <% unless current_user.nil? %>
      
      <div class="header-logo group">
        <a href="<%= newsfeed_user_url(current_user)%>"><logo>BookFace</logo></a>
        <div class="search-field">

          <!-- FIX APPERANCE -->
          <form action="<%= search_url %>" method="GET">
            <input class="search-bar" type="text" name="query" placeholder="Search friends, users, posts etc...">
            <input class="search-button submit" type="submit" value="Search">
          </form>

        </div>
      </div>
        
        
      <div class="user-links group">
        <ul>
          <li><a href="<%= wall_user_url(current_user) %>">Home</a></li>
          <li class="notifications">
            <a href="#">Notifications</a>

            <ul class="dropdown">
              <% if current_user.notifications.unread.empty? %>
                <%= render partial: "notifications/nonotifications" %>
              <% else %>
                <%= render partial: "notifications/notification", collection: current_user.notifications.unread %>
              <% end %>
            </ul>

          </li>
          <li><a href="<%= messages_user_url(current_user) %>">Messages</a></li>
        </ul>
        <%= button_to "Log Out", session_url, method: :delete, :class => "submit logout" %>
      </div>
  
    <% end %>

    </nav>
  </header>

</head>

<body>

  <%= yield %>



</body>
</html>






