<!DOCTYPE html>
<html>
  
  <style>

  html, body, header, nav, h1, a, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
  }

  body {
    font-family: sans-serif;
    background-color: #edf0f5;
  }

  a {
    text-decoration: none;
  }

  .group:after {
    content: "";
    display: block;
    clear: both;
  }

  .navbar {
    background: #3b5998;
    width: 100%;
  }

  .navbar > nav {
    margin: auto;
    width: 1242px;
    padding: 4px;
  }

  .navbar a {
    color: white;
    font-weight: 550;
    font-size: 13px;
  }

  .navbar ul {
    list-style: none;
    float: left;
    padding: 4px;
  }

  .navbar ul li {
    float: left;
    padding: 7px;
  }

  .user-links {
    display: block;
    float: right;
    width: 210px;
    margin-right: 60px;
  }

  .search-field {
    float: right;
    padding: 5px;
  }

  .search-field > input {
    width: 300px;
    padding: 5px;
    border-radius: 2px;
  }

  logo {
    color: white;
    font-weight: bold;
    font-size: 25px;
    display: block;
    float: left;
    padding: 5px;
    
  }

  .header-logo{
    display: block;
    width: 485px;
    float: left;
  }

/*POST STYLES*/


.posts {
  margin-top: 50px;
  width: 480px;
  float: right;
}

.post {
  border-top: 1px solid #ddd;
  border: 2px solid #ddd;
  border-radius: 3px;
  background-color: white;
}

.post-header {
  padding: 5px 0 2px 5px;
}

.box-header {
  padding: 5px;
  background-color: #f4f6f9;
}

.box-header > p {
  font-weight: bold;
  padding: 4px;
  margin: 0;
  font-size: 12px;
}

.post-header-thumbnail {
  float: left;
  padding: 10px;
}

.post-header-thumbnail > a {
  display: block;
  width: 42px;
  height: 42px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.post-header-thumbnail img {
  width: 100%;
  height: 100%;
}

.post-header-info {
  float: left;
  padding: 20px 0 20px 0;
}

.post-header-info > h3 {
  color: black;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.post-header-info > h3 > a {
  color: black;
  font-size: 14px;
}

.post-header-info > p {
  color: black;
  font-size: 10px;
  padding: 0;
  margin: 0;
}

.post-content {
  padding: 0 15px;
  font-size: 14px;
}

.create-comment {
  padding: 10px;
  background-color: white;
}

.comment-box {
  width: 175px;
}

.submit {
    position: relative;
    display: inline-block;
    background: #5b74a8;
    border-color: #29447e #29447e #1a356e;
    color: #fff;
    padding: 3px 6px;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #29447e;
    font-weight: bold;
    margin-top: 18px
}

.logout {
  display: block;
  float: right;
  bottom: 9px;
}

textarea {
   resize: none;
   border: none;
   display: block;
   margin: auto;
   width: 455px;
   padding: 10px;
}

textarea:focus {
    outline: none ;
    height: 100px;
}

.post-footer {
  display: block;
  background-color: #f4f6f9;
  padding: 0 0px 10px 10px;
}

.file-submit::-webkit-file-upload-button {
  visibility: hidden;
}

.file-submit:before {
  content: 'Upload Photo';
  display: inline-block;
  background: #5b74a8;
  border-color: #29447e #29447e #1a356e;
  color: #fff;
  border-radius: 3px;
  padding: 3px 4px;
  margin: 1px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 5px 0 0 #29447e;
}

.comment-form {
  float: left;
  border-radius: 2px;
}

.comment-form > input {
  padding: 3px;
}

.delete-post {
  float: right;
  width: auto;
  border: 0 none;
  margin: 5px 10px 0 0;
  padding:0;
  background: transparent;
  font-size: 14px;
  color: #A8A8A8;
}

.user-header {
  position: relative;
  display: block;
  margin: auto;
  width: 850px ;
  height: 355px; /*Placeholder*/
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  border-radius: 3px;
}

.cover-photo {
  display: block;
  height: 88%;
  overflow: hidden;
}

.cover-photo img {
  max-width:100%; 
  /*max-height:100%;*/
}

.profile-picture {
  display: block;
  width: 165px;
  height: 165px;
  position: absolute;
  top: 169px;
  left: 39px;
  border: 4px solid #ddd;
  border-radius: 2px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
}

.profile-name {
  position: absolute;
  top: 245px;
  left: 240px;
}

.profile-name p {
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.add-friend {
  position: absolute;
  display: block;
  top: 270px;
  left: 730px;

  float: right;
  width: auto;
  border: 0 none;
  margin: 5px 10px 0 0;
  padding: 5px;
  background: white;
  font-size: 14px;
  color: black;
  font-weight: bold;
  border: 2px solid #bbb;
  border-radius: 2px;

}

.user-header-links {
  display: block;
  height: 12%; /*Placeholder*/
  background-color: white;
}

.user-header-links ul {
  list-style: none;
  float: right;
  margin-right: 85px; 
  border-left: 1px solid #ddd;
}

.user-header-links ul li {
  float: left;
  padding: 13px 25px;
  border-right: 1px solid #ddd;
}

.user-header-links ul li a {
  color: #3b5998;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.user-profile-body {
  margin: auto;
  width: 850px;
}

.user-details {
  margin-top: 50px;
  display: block;
  width: 317px;
  height: 200px;
  float: left;
}

.user-mini-photos {
  border-top: 1px solid #ddd;
  border: 2px solid #ddd;
  border-radius: 3px;
  background-color: white;
  margin-bottom: 25px;
}

.user-detail-photos > ul {
  margin: auto;
  list-style: none;
}

.user-detail-photos > ul > li {
  height: 100px;
  width: 100px;
  display: block;
  float: left;
  border: 1px solid #ddd;
  border-radius: 2px;
  margin: 1px;
}

.user-detail-photos li img {
  display: block;
  width: 100%;
  height: 100%;
}


</style>


<head>

    <header class="navbar">
      <nav class="group">

      <title>FBClone</title> 
      
      <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>


      <% unless flash[:notices].nil? %>
      <h3>Notices</h3>
        <% flash[:notices].each do |notice| %>
          <li><%= notice %></li>
        <% end %>
        <hr>
      <% end %>

    
      <% unless flash[:errors].nil? %>
      <h3>Errors</h3>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
        <hr>
      <% end %>


    <!-- MOVE LOGIC TO CONTROLLER ACTION -->
    <% unless current_user.nil? %>
      
      <div class="header-logo group">
        <logo>Facebook</logo>
        <div class="search-field"><input type="text" name="SEARCHBAR" placeholder="Search friends, posts etc..."></div>
      </div>
        
        
      <div class="user-links group">
        <ul>
          <li><a href="<%= wall_user_url(current_user) %>">Home</a></li>
          <li><a href="<%= notifications_url %>">Notifications</a></li>
        </ul>
        <%= button_to "Log Out", session_url, method: :delete, :class => "submit logout" %>
      </div>
  
    <% end %>

    </nav>
  </header>

</head>

<body>

<%= yield %>

</body>
</html>
